.text-editor {
  position: relative;
  textarea {
    width: 100%;

    // Source: Medium Editor
    font-family: "Droid Sans Mono", monospace;
    line-height: 1.4;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,0.8);
    font-size: 13px;
    border: none;
    outline: none;
    white-space: pre;
    overflow: scroll;
  }
}
