@padding: 20px;

.home-page {
  padding: @padding;

  .day-nav {
    > .day {
      display: inline-block;
      width: 60px;
      text-align: center;
      padding: 10px;
      margin-right: 10px;
      border: 1px solid #969696;
      text-decoration: none;

      &:hover {
        border-color: #59c3d8;
      }

      .date {
        display: block;
      }
      .day {
        display: block;
      }
      &.today {
        background-color: #f3fbfe;
      }
      &.active {
        border-color: #59c3d8;
        cursor: default;
      }
    }
  }

  .main-pane {
    float: left;
    width: calc(~"100% - 300px" - @padding);
    margin-bottom: @padding;
  }
  .right-pane {
    float: left;
    width: 300px;
    margin-left: @padding;
  }
  .summary-pane {
    clear: both;
  }

  .text-editor {
    width: 100%;
    min-height: 200px;
    margin-top: 10px;
  }

  .indicator {
    height: 38px;
    float: left;
    width: 50px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: red;
    &.saving {
      background-color: orange;
    }
    &.saved {
      background-color: green;
    }
  }
}

.not-logged-in {
  text-align: center;
  margin: 100px 0;
}
